<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--http://stackoverflow.com/q/29921679/1616023-->
    <!--<namespace name="HQF.Tutorial.IOC.Common" />-->
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singlecall" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="InterfaceA" type="HQF.Tutorial.IOC.Common.Interface.InterfaceA,HQF.Tutorial.IOC.Common.Interface"/>
      <typeAlias alias="ImplementA" type="HQF.Tutorial.IOC.Common.Implement.ImplementA,HQF.Tutorial.IOC.Common.Implement"/>
   </typeAliases>
    <container>
      <register type="InterfaceA" mapTo="ImplementA" />
    </container>
  </unity>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>