<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  
  <autofac defaultAssembly="HQF.Tutorial.IOC.Common.Implement">
    <!--https://stackoverflow.com/questions/30214005/using-autofac-with-xml-configuration-->
    <components>
      <component type="HQF.Tutorial.IOC.Common.Implement.ImplementA, HQF.Tutorial.IOC.Common.Implement"
                 service="HQF.Tutorial.IOC.Common.Interface.InterfaceA, HQF.Tutorial.IOC.Common.Interface" />

      <!--<component
          type="Autofac.Example.Calculator.Division.Divide, Autofac.Example.Calculator.Division"
          service="Autofac.Example.Calculator.Api.IOperation">
        <parameters>
          <parameter name="places" value="4" />
        </parameters>
      </component>-->
    </components>
  </autofac>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>