<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="StructureMap"
        type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  
  <StructureMap MementoStyle="Attribute">
    <DefaultInstance
      PluginType="HQF.Tutorial.IOC.Common.Interface.InterfaceA,HQF.Tutorial.IOC.Common.Interface"
      PluggedType="HQF.Tutorial.IOC.Common.Implement.ImplementA,HQF.Tutorial.IOC.Common.Implement"
      Scope="Singleton" />
  </StructureMap>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>